<!DOCTYPE html>
<html ng-app="csrApp">

<head>
  <title>Super Heroic Life Saver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="../static/js/ui-bootstrap.min.js"></script>
</head>

<body ng-controller="formCtrl as ctrl" ng-cloak>
  <div layout="column">
    <md-toolbar class="md-tall">
      <span flex></span>
      <h2 class="md-toolbar-tools">
        <span class="md-flex container">We need some fantastic stuff written here. Or welcoming speech.</span>
      </h2>
    </md-toolbar>
    <md-card class="container">
      <h2>Contacts</h2>
      <md-divider></md-divider>
      <md-content layout-padding>
        <md-input-container class="md-icon-float md-block">
          <label>Name</label>
          <md-icon><i class="material-icons">android</i></md-icon>
          <input ng-model="user.name" type="text" required>
          <div ng-messages="user.name.$error">
            <div ng-message="required">This is required</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Email</label>
          <md-icon><i class="material-icons">email</i></md-icon>
          <input ng-model="user.email" type="email" required ng-pattern="/^.+@.+\..+$/" minlength="10" maxlength="100">
          <div ng-messages="user.email.$error">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Phone</label>
          <md-icon><i class="material-icons">settings_phone</i></md-icon>
          <input ng-model="user.phone" type="number" required ng-pattern="/^[\d]{8}$/">
          <div ng-messages="user.phone.$error">
            <div ng-message-exp="['required', 'pattern']">
              Your phone must be a Singapore number without +65 (country code) and without space and hyphen. Example: 91234567
            </div>
          </div>
        </md-input-container>
      </md-content>
    </md-card>

    <md-card class="container">
      <h2>Food</h2>
      <md-divider></md-divider>
      <md-list>
        <md-list-item ng-repeat="food in foods" class="md-3-line">
          <img class="md-avatar" ng-src="https://d1nqx6es26drid.cloudfront.net/app/assets/img/logo_mcd.png" alt="FoodPic" />
          <div class="md-list-item-text" layout="column">
            <h3> {{ food.name }} </h3>
            <h4> {{ food.category }} </h4>
            <p> {{ food.price | currency }}</p>
          </div>
          <span ng-if="food.selected">
    <md-input-container class="md-block">
          <label>Quantity</label>
          <input type="number" min="1" ng-model="foods[$index].qty" />
          </md-input-container>
  </span>
          <md-checkbox aria-label="checkboxFood" class="md-secondary" ng-click="toggleFood(food)"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card class="container">
      <h2>Drinks</h2>
      <md-divider></md-divider>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="drink in drinks">
          <img ng-src="http://3.bp.blogspot.com/-9ubZpYc0Qu0/T0kiZ3JxDKI/AAAAAAAABJk/qC9MHhJZ_W8/s1600/kopi.png " class="md-avatar
            " alt="drinksPic " />
          <div class="md-list-item-text ">
            <h3>{{ drink.name }}</h3>
            <p>{{ drink.price | currency }}</p>
          </div>
          <span ng-if="drink.selected">
            <md-input-container>
              <label>Quantity</label>
              <input type="number" min="1" ng-model="drinks[$index].qty">
              </md-input-container>
          </span>
          <md-checkbox aria-label="checkboxDrink" class="md-secondary" ng-click="toggleDrink(drink)"></md-checkbox>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card class="container">
      <md-button ng-click="open()">Submit</md-button>
    </md-card>
  </div>
  <script src="../static/js/app.js"></script>
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Your Cart!!</h3>
    </div>
    <div class="modal-body">
      {{ items }}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</body>