{% extends "base.html" %} {% block content %}
<div layout="column" ng-cloak>
    <md-toolbar class="md-tall">
        <span flex></span>
        <h2 class="md-toolbar-tools md-display-3">
            <span class="md-flex container">{{ intro }}</span>
        </h2>
    </md-toolbar>
    <form name="csrForm">
        <md-card class="container">
            <h2>Contacts</h2>
            <md-divider></md-divider>

            <md-content layout-padding>
                <md-input-container class="md-icon-float md-block">
                    <label>Name</label>
                    <md-icon><i class="material-icons">android</i></md-icon>
                    <input ng-model="user.name" type="text" name="name" minlength="4" required>
                    <div ng-messages="csrForm.name.$error">
                        <div ng-message="required">This is required</div>
                        <div ng-message="minlength">I'm sorry but I still don't know how to address you</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>GIC Email</label>
                    <md-icon><i class="material-icons">email</i></md-icon>
                    <input ng-model="user.email" type="email" required ng-pattern="/^.+@gic.com.sg$/" minlength="10" maxlength="100" name="email">
                    <div ng-messages="csrForm.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            You gotta use your gic mail.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Phone</label>
                    <md-icon><i class="material-icons">settings_phone</i></md-icon>
                    <input ng-model="user.phone" type="number" required ng-pattern="/^[89][\d]{7}$/" name="phone">
                    <div ng-messages="csrForm.phone.$error">
                        <div ng-message-exp="['required', 'pattern']">
                            Your phone must be a Singapore number without +65 (country code) and without space and hyphen. Example: 91234567
                        </div>
                    </div>
                </md-input-container>
            </md-content>
        </md-card>

        <md-card class="container">
            <h2>Food</h2>
            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-repeat="food in foods" class="md-3-line" md-ink-ripple="#bbb" ng-click="toggleOrder(food)">
                    <img ng-src="static/images/{{food.image}}" class="img-circle img-responsive img-thumbnail" style="width: 15%; height: 15%;" />
                    <div class="md-list-item-text" layout="column" style="padding-left: 2em">
                        <h3> {{ food.name }} </h3>
                        <h4> {{ food.description }} </h4>
                        <p> {{ food.price | currency }}</p>
                    </div>
                    <span ng-if="food.selected">
                            <md-input-container style="transform: translateY(14px)">
                                <label>Quantity</label>
                                <input type="number" min="1" ng-model="foods[$index].qty" name="food" ng-pattern="/^[\d]+$/" />
                                <div ng-messages="csrForm.food.$error">
                                    <div ng-message-exp="['min', 'pattern']">You should at least select 1. And it must not be a decimal!</div>
                                </div>
                            </md-input-container>
                        </span>
                    <md-checkbox aria-label="checkboxFood" class="md-secondary" ng-checked="food.selected" ng-click="toggleOrder(food)"></md-checkbox>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card class="container">
            <h2>Drinks</h2>
            <md-divider></md-divider>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="drink in drinks" md-ink-ripple="#bbb" ng-click="toggleOrder(drink)">
                    <img ng-src="/static/images/{{drink.image}}" class="img-circle img-responsive img-thumbnail" style="width: 15%; height: 15%;" />
                    <div class="md-list-item-text"  style="padding-left: 2em">
                        <h3>{{ drink.name }}</h3>
                        <h4>{{ drink.description }}</h4>
                        <p>{{ drink.price | currency }}</p>
                    </div>
                    <span ng-if="drink.selected">
                            <md-input-container style="transform: translateY(14px)">
                            <label>Quantity</label>
                            <input type="number" min="1" ng-model="drinks[$index].qty" name="drink" ng-pattern="/^[\d]+$/">
                            <div ng-messages="csrForm.drink.$error">
                                <div ng-message-exp="['min', 'pattern']">You should at least select 1. And it must not be a decimal!</div>
                            </div>
                            </md-input-container>
                        </span>
                    <md-checkbox aria-label="checkboxDrink" class="md-secondary" ng-checked="drink.selected" ng-click="toggleOrder(drink)"></md-checkbox>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card class="container">
            <h2>Gifts</h2>
            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-repeat="gift in gifts" class="md-3-line" md-ink-ripple="#bbb" ng-click="toggleOrder(gift)">
                    <img ng-src="/static/images/{{gift.image}}" class="img-circle img-responsive img-thumbnail" style="width: 15%; height: 15%;" />
                    <div class="md-list-item-text md-3-line"  style="padding-left: 2em">
                        <h3>{{ gift.name }}</h3>
                        <h4>{{ gift.description }}</h4>
                        <p>{{ gift.price | currency }}</p>
                    </div>
                    <span ng-if="gift.selected">
                        <md-input-container style="transform: translateY(14px)">
                            <label>Quantity</label>
                            <input type="number" min="1" ng-model="gifts[$index].qty" name="gift" ng-pattern="/^[\d]+$/">
                            <div ng-messages="csrForm.gift.$error">
                                <div ng-message-exp="['min', 'pattern']">You should at least select 1. And it must not be a decimal!</div>
                            </div>
                        </md-input-container>
                    </span>
                    <md-checkbox aria-label="checkboxGift" class="md-secondary" ng-checked="gift.selected" ng-click="toggleOrder(gift)"></md-checkbox>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
    </form>

    <md-card class="container">
        <md-button ng-click="open(csrForm)">Submit</md-button>
    </md-card>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Your Cart!!</h3>
    </div>
    <div class="modal-body">
        <md-content>
            Thank you for your generosity. Please check your contact details again. <br>
            <md-list>
                <ul>
                    <li>{{contacts.name}}</li>
                    <li>{{contacts.phone}}</li>
                    <li>{{contacts.email}}</li>
                </ul>
            </md-list>
        </md-content>
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th>Sub-total</th>
            </tr>
            <tr ng-repeat="i in items">
                <td>{{$index + 1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.price | currency}}</td>
                <td>{{i.qty}}</td>
                <td>{{i.qty * i.price | currency}}</td>
            </tr>
            <tr>
                <td colspan="4">Grand Total</td>
                <td>{{total | currency}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
{% endblock %}