{% extends "base.html" %} {% block content %}
<div layout="column" ng-cloak>
    <md-toolbar class="md-tall">
        <span flex></span>
        <h2 class="md-toolbar-tools md-display-1 text-center">
            <span class="md-flex container"><span class="md-headline">{{ intro1 }}</span> <br> {{intro2}}</span>
        </h2>
    </md-toolbar>
    <div class="container">
        <div class="row center-block">
            <md-card class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-2 col-md-offset-2" layout-padding>
                <img ng-src="static/images/welcome.jpg" class="md-card-image">
                <md-card-content>
                    <p>
                        Thank you for supporting the 2016 GIP Intern's CSR initiative!<br><br>
                        We are organising a lunch and appreciation gift delivery service for all GICians on 13th July 2016(Wednesday).<br><br>
                        In the midst of the sweltering July heat, it is an ideal time to have lunch delivered to your office, express thanks for your fellow colleagues, while helping out the disenfranchised at the same time.<br><br>
                        All profits will go into purchasing food supplies for low-income households residing under the Public Rental Scheme in Jalan Besar.<br><br>
                        Simply click on 'Order Now', and choose the food/gift item and quantity you would like. Collection and payment will be held together on 13th July during lunch hours. You will be notified of the venue later.<br><br>
                        We would like to thank you for your generousity, and look forward to your active support!<br><br>
                        <!--<b>Please use Google Chrome or your mobile devices to place your orders.</b>-->
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="center">
                    <md-button class="md-accent md-raised" ng-click="toForm()">Order Now!</md-button>
                    <md-button ng-click="phoneBox.toggle()">Check Order</md-button>
                    <form name="form" ng-if="phoneBox.show">
                        <div layout="row">
                            <md-input-container>
                                <label for="phone">Phone</label>
                                <input type="number" id="phone" name="phone" ng-pattern="/^[\d]{8}$/" required ng-model="phoneBox.phone">
                                <div ng-messages="form.phone.$error">
                                    <div ng-message-exp="['required', 'pattern']">
                                        Do you have a phone number that looks like this: 91235678 ?
                                    </div>
                                </div>
                            </md-input-container>
                            <div ng-hide="hideBall">
                                <md-progress-circular md-diameter="30px" md-mode="indeterminate"></md-progress-circular>
                            </div>
                        </div>
                    </form>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Your Previous Order</h3>
    </div>
    <div class="modal-body">
        <md-content>
            Just a while more and they will be right in your tummy.<br>
            <md-list>
                <ul>
                    <li>{{contacts.name}}</li>
                    <li>{{contacts.phone}}</li>
                    <li>{{contacts.email}}</li>
                </ul>
            </md-list>
        </md-content>
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th>Sub-total</th>
            </tr>
            <tr ng-repeat="i in items">
                <td>{{$index + 1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.price | currency}}</td>
                <td>{{i.qty}}</td>
                <td>{{i.qty * i.price | currency}}</td>
            </tr>
            <tr>
                <td colspan="4">Grand Total</td>
                <td>{{total | currency}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="update()">Update My Order</button>
    </div>
</script>

{% endblock %}